<form [formGroup]="claimForm" (ngSubmit)="submitClaim()" class="claim-form">
  <div class="item-summary ion-padding-horizontal">
    <ion-label>
      <h2>Claim {{ item.title }}</h2>
    </ion-label>
  </div>

  <h1 class="ion-padding-horizontal">Ownership Confirmation</h1>

  <ion-list class="ion-no-padding">
    <ion-item>
      <ion-label position="stacked" style="color: var(--ion-text-color)"
        >Describe a unique feature</ion-label
      >
      <input
        shape="round"
        formControlName="uniqueFeature"
        placeholder="e.g. A small blue ink stain inside"
        style="color: var(--ion-text-color)"
      />
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="color: var(--ion-text-color)"
        >Where did you lose/find it</ion-label
      >
      <input
        formControlName="lostLocation"
        style="color: var(--ion-text-color)"
        placeholder="e.g. University Library, 3rd Floor"
      />
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="color: var(--ion-text-color)"
        >Lost/Found date/time</ion-label
      >
      <ion-input
        style="color: var(--ion-text-color)"
        id="datetime-picker"
        [value]="formattedDateString"
        placeholder="mm/dd/yyyy"
        readonly="true"
      ></ion-input>
      <ion-popover
        trigger="datetime-picker"
        size="auto"
      >
        <ng-template >
          <ion-datetime
            style="color: var(--ion-text-color)"
            formControlName="lostDateTime"
            presentation="date-time"
            [showDefaultButtons]="true"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
      <ion-icon
        name="calendar-outline"
        slot="end"
        class="ion-align-self-center"
      ></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="color: var(--ion-text-color)"
        >Phone number for delivery</ion-label
      >
      <input
        formControlName="deliveryPhone"
        type="tel"
        placeholder="+233 049 004 045"
        style="color: var(--ion-text-color)"
      />
    </ion-item>
  </ion-list>

  <ion-item lines="none">
    <ion-checkbox
      slot="start"
      formControlName="agreedToTerms"
      class="adaptive-checkbox"
    ></ion-checkbox>
    <ion-label class="ion-text-wrap" style="color: var(--ion-text-color)">
      I confirm the above information is true and accurate
    </ion-label>
  </ion-item>

  <div class="flex flex-col gap-2">
    <div class="button-group">
      <ion-button expand="block" fill="outline" (click)="cancel()"
        >Cancel</ion-button
      >
      <ion-button type="submit" expand="block" [disabled]="claimForm.invalid"
        >Submit Claim</ion-button
      >
    </div>
  </div>

  <p
    class="ion-text-center ion-padding-horizontal footer-note mt-2"
    style="color: var(--ion-text-color)"
  >
    You'll be in contact with the Poster to confirm
  </p>
</form>
