<app-page-header></app-page-header>

<ion-content [fullscreen]="true" class="flex flex-col">
  <!-- <div class="flex-1 flex flex-col items-center justify-start pt-20 px-4"> -->
    <div class="w-full max-w-md mx-auto space-y-6">
      <div class="relative flex items-center mt-2">
        <ion-buttons slot="start" class="z-10">
          <ion-back-button
            icon="chevron-back-sharp"
            defaultHref="/auth/login"
          />
        </ion-buttons>

        <h1
          class="absolute left-1/2 -translate-x-1/2 font-semibold text-2xl text-center w-[60%]"
        >
          Reset Password
        </h1>
      </div>

      <form [formGroup]="myForm" class="w-full">
        <div class="mb-4">
          <!-- PASSWORD -->
          <div class="mb-4 w-[80%] md:w-[35%] mx-auto">
            <label
              class="block text-neutral-500 text-base font-light mb-2 ml-2 text-start"
            >
              Enter Password
            </label>
            <div class="relative">
              <input
                formControlName="password"
                [type]="showPassword ? 'text' : 'password'"
                placeholder="**************"
                class="w-full px-4 py-3 bg-white border border-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder-neutral-300 dark:placeholder-neutral-500"
              />
              <button
                (click)="togglePasswordVisibility()"
                class="absolute inset-y-0 right-0 flex items-center px-4 text-gray-500"
                type="button"
              >
                <ion-icon
                  slot="icon-only"
                  [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
                ></ion-icon>
              </button>
            </div>
            <div
              *ngIf="myForm.controls['password'].invalid && (myForm.controls['password'].dirty || myForm.controls['password'].touched)"
              class="text-sm text-red-600 dark:text-red-400 text-start mt-1"
            >
              <div *ngIf="myForm.controls['password'].hasError('required')">
                Password is required.
              </div>
              <div *ngIf="myForm.controls['password'].hasError('minLength')">
                Password must be at least 8 characters long.
              </div>
              <div *ngIf="myForm.controls['password'].hasError('requireDigit')">
                Password must contain at least one number.
              </div>
              <!-- Add other strength errors as needed -->
              <div
                *ngIf="myForm.controls['password'].hasError('requireUppercase')"
              >
                Password must contain an uppercase letter.
              </div>
            </div>
          </div>
          <!-- CONFIRM PASSWORD -->
          <div class="mb-4 w-[80%] md:w-[35%] mx-auto">
            <label
              class="block text-neutral-500 text-base font-light mb-2 ml-2 text-start"
            >
              Confirm Password
            </label>
            <div class="relative">
              <input
                formControlName="confirmPassword"
                [type]="showConfirmPassword ? 'text' : 'password'"
                placeholder="**************"
                class="w-full px-4 py-3 bg-white border border-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder-neutral-300 dark:placeholder-neutral-500"
              />
              <button
                (click)="toggleConfirmPassword()"
                class="absolute inset-y-0 right-0 flex items-center px-4 text-gray-500"
                type="button"
              >
                <ion-icon
                  slot="icon-only"
                  [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'"
                ></ion-icon>
              </button>
            </div>
            <div
              *ngIf="myForm.controls['confirmPassword'].invalid && (myForm.controls['confirmPassword'].dirty || myForm.controls['confirmPassword'].touched)"
              class="text-sm text-red-600 dark:text-red-400 text-start mt-1"
            >
              <div
                *ngIf="myForm.controls['confirmPassword'].invalid && (myForm.controls['confirmPassword'].dirty || myForm.controls['confirmPassword'].touched)"
                class="text-sm text-red-600 dark:text-red-400 text-start mt-1"
              >
                <div
                  *ngIf="myForm.controls['confirmPassword'].hasError('required')"
                >
                  Please confirm your password.
                </div>
                <div
                  *ngIf="myForm.controls['confirmPassword'].hasError('passwordsMatch')"
                >
                  Passwords do not match.
                </div>
              </div>
            </div>
          </div>
          <ion-button
            expand="block"
            fill="clear"
            shape="round"
            color="light"
            class="started-btn"
            type="submit"
            (click)="resetPassword()"
          >
            Reset Password
          </ion-button>
        </div>
      </form>
    </div>

</ion-content>
