<div class="item-card loading-item-card w-full">
  <div class="card-header">
    <ion-skeleton-text [animated]="true" class="item-image"></ion-skeleton-text>
    <div class="item-details">
      <ion-skeleton-text [animated]="true" style="width: 3rem; height: 0.5rem;"></ion-skeleton-text>
      <ion-skeleton-text [animated]="true" style="width: 3rem; height: 0.5rem;"></ion-skeleton-text>
    </div>
  </div>
  <div class="info-line">
    <ion-skeleton-text [animated]="true" style="width: 40%;"></ion-skeleton-text>
    <ion-skeleton-text [animated]="true" style="width: 35%;"></ion-skeleton-text>
  </div>
  <ion-skeleton-text [animated]="true" class="claim-button-skeleton"></ion-skeleton-text>
  <p class="notification-text">
    <ion-skeleton-text [animated]="true" style="width: 90%;"></ion-skeleton-text>
  </p>
</div>