:host {
  display: block;
}

ion-item {
  --inner-border-width: 0;
  --border-width: 0;
  --background: transparent;
  --padding-bottom:0
  font-size: 1rem;

  ion-label {
    --color:#666666;
    color: #666666;
    font-size: 1.2rem;
    padding-bottom: 0;
  }
  --background-hover: transparent;
  --background-focused: transparent;
  --background-activated: transparent;
  --ripple-color: transparent;

  &::part(container) {
    background-color: transparent !important;
    box-shadow: none !important;
  }

  ion-select {
    --background-hover: transparent;
    --background-focused: transparent;
    --highlight-color-focused: transparent;
    padding-inline: 15px;
  }
}

.form-field-vertical {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start;
}

ion-select {
  width: 100%;
  font-size: 1.2rem;
  margin-top: 0.5em;
  border: 1px solid black !important;
  border-radius: 8px;
}

ion-icon {
  color: black;
  position: absolute;
  right: 0.4em;
}


ion-textarea {
  margin: 0;
  padding: 0;
}

ion-item input,
ion-textarea {
  outline: none;
  font-size: 1.2rem;
  border: 2px solid #666666;
  width: 100%;
  color: black;
  border-radius: 8px;
  padding-inline: 22px;
}

input:focus,
ion-textarea {
  outline: none !important;
  box-shadow: none !important;
}

.upload-container {
  border: 2px dashed var(--ion-color-medium-tint);
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 150px;

  .upload-placeholder p {
    color: var(--ion-color-medium-shade);
    margin-bottom: 16px;
    margin: auto;
  }

  .upload-btn {
    width: 150px;
    margin: auto;
    label {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 36px;
    }
  }
}

.file-list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.file-row {
  display: flex;
  background-color: #f0f0f0;
  padding-inline: 8px;
  border-radius: 8px;
  width: max-content;
}
.file-name {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove-btn {
  --box-shadow: none;
  padding: 0;
  margin: 0;
}

ion-fab-button {
  font-size: 0.8rem;
  --padding: 0;
  --color: #f0f0f0;
}
.submit-btn{
  background-color: blue !important;
}
