// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


 :root {
  /**Fonts for reference**/

  --font-roboto: 'Roboto', sans-serif;
  --font-inter:'Inter', sans-serif;
  --subtitle-color:#4E5D6B;

  /** Primary (for reference) **/
  --ion-color-primary: #38A1FF;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** Favorite (Light Mode) **/
  --ion-color-favorite: #69bb7b;
  --ion-color-favorite-rgb: 105, 187, 123;
  --ion-color-favorite-contrast: #ffffff;
  --ion-color-favorite-contrast-rgb: 255, 255, 255;
  --ion-color-favorite-shade: #5ca56c;
  --ion-color-favorite-tint: #78c288;
}


body.dark {
  /** Primary **/
  --ion-color-primary: #428cff;

  /** Favorite (Dark Mode) **/
  --ion-color-favorite: #ff0;
  --ion-color-favorite-rgb: 74, 143, 89;
  --ion-color-favorite-contrast: #ffffff;
  --ion-color-favorite-contrast-rgb: 255, 255, 255;
  --ion-color-favorite-shade: #417e4f;
  --ion-color-favorite-tint: #5c9a6a;


}

.ion-color-favorite {
  --ion-color-base: var(--ion-color-favorite);
  --ion-color-base-rgb: var(--ion-color-favorite-rgb);
  --ion-color-contrast: var(--ion-color-favorite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-favorite-contrast-rgb);
  --ion-color-shade: var(--ion-color-favorite-shade);
  --ion-color-tint: var(--ion-color-favorite-tint);
}
ion-list {
  background: transparent;
  padding: 0;
}
// ion-item {
//   --background: transparent;
//   --border-color: #ddd;
//   --border-width: 1px;
//   --border-style: solid;
//   --border-radius: 8px;
//   --padding-start: 16px;
//   --padding-end: 16px;
//   --inner-padding-end: 0;
//   --inner-padding-start: 0;
//   margin-bottom: 20px;
//   --min-height: 56px;
// }
