<app-page-header></app-page-header>
<ion-content
  [fullscreen]="true"
  class="ion-justify-content-center ion-align-items-center ion-text-center ion-padding-top"
>
  <h1 class="font-semibold text-xl text-subtitle">Create Your Account</h1>
  <ion-list class="form-container">
    <form action="" class="text-2xl w-full border-none mb-3 md:mb-5 font-inter">
      <div class="mb-4 w-[80%] md:w-[35%] mx-auto">
        <label
          class="block text-neutral-500 text-base font-light mb-2 ml-2 text-start"
        >
          Enter Name
        </label>
        <input
          type="text"
          placeholder="Name"
          class="placeholder-neutral-300 text-black w-full px-4 py-3 bg-white border border-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="mb-4 w-[80%] md:w-[35%] mx-auto">
        <label
          class="block text-neutral-500 text-base font-light mb-2 ml-2 text-start"
        >
          Enter Phone Number
        </label>
        <input
          type="text"
          placeholder="+233 24 123 2345"
          class="placeholder-neutral-300 text-black w-full px-4 py-3 bg-white border border-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="mb-4 w-[80%] md:w-[35%] mx-auto">
        <label
          class="block text-neutral-500 text-base font-light mb-2 ml-2 text-start"
        >
          Enter Email
        </label>
        <input
          type="text"
          placeholder="School Email"
          class="placeholder-neutral-300 text-black w-full px-4 py-3 bg-white border border-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <!-- PASSWORD -->
      <div class="mb-4 w-[80%] md:w-[35%] mx-auto">
        <label
          class="block text-neutral-500 text-base font-light mb-2 ml-2 text-start"
        >
          Enter Password
        </label>
        <div class="relative">
          <input
            [type]="showPassword ? 'text' : 'password'"
            placeholder="**************"
            class="w-full px-4 py-3 bg-white border border-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
          <button
            (click)="togglePasswordVisibility()"
            class="absolute inset-y-0 right-0 flex items-center px-4 text-gray-500"
          >
            <ion-icon
              slot="icon-only"
              [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
            ></ion-icon>
          </button>
        </div>
      </div>
      <!-- CONFIRM PASSWORD -->
      <div class="mb-4 w-[80%] md:w-[35%] mx-auto">
        <label
          class="block text-neutral-500 text-base font-light mb-2 ml-2 text-start"
        >
          Confirm Password
        </label>
        <div class="relative">
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            placeholder="**************"
            class="w-full px-4 py-3 bg-white border border-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
          <button
            (click)="toggleConfirmPassword()"
            class="absolute inset-y-0 right-0 flex items-center px-4 text-gray-500"
          >
            <ion-icon
              slot="icon-only"
              [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'"
            ></ion-icon>
          </button>
        </div>
      </div>
      <ion-button
        expand="block"
        fill="clear"
        shape="round"
        color="light"
        class="started-btn"
      >
        Get Started
      </ion-button>
    </form>
    <p class="text-black font-semibold mb-2">or</p>
    <p>Already have an account?</p>
    <div
      class="flex items-center justify-center w-full md:w-[40%] mx-auto gap-2 text-black"
    >
      <ion-button expand="block" fill="clear" shape="round" class="rounded-btn">
        SIGN IN
      </ion-button>
      <ion-button expand="block" fill="clear" shape="round" class="rounded-btn">
        <img
          src="assets/icon/googleicon.svg"
          alt="Google logo"
          width="25"
          height="25"
        />
      </ion-button>
    </div>
  </ion-list>
</ion-content>
