<ion-header [translucent]="true" class="ion-text-center ion-no-border">
  <ion-toolbar>
    <ion-title color="primary" class="header">
      CampusCla<span class="special"><i>i</i></span
      >m
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex items-center justify-center w-[95%] mx-auto mt-5">
    <ion-img src="/assets/intro.png"></ion-img>
  </div>
  <div class="flex flex-col items-center justify-center gap-2 p-0 mb-4">
    <h1 class="text-primary text-2xl font-semibold w-max">
      Lost & Found Made Easy
    </h1>
    <p class="text-center w-[70%]">
      Quickly report your lost items or help others Find theirs. together we can
      reunite what's been misplaced...
    </p>
  </div>
  <ion-button (click)="getStarted()" expand="block" fill="clear" shape="round" color="light" class="started-btn">
    Get Started
  </ion-button>
</ion-content>



