<ion-router-outlet [animated]="false"></ion-router-outlet>
<ion-tabs [hidden]="false">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/main/home" color="primary">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/main/search" color="primary">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button class="fab-placeholder" disabled>
      <ion-label >Report</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages" href="/main/messages" color="primary">
      <ion-icon aria-hidden="true" name="chatbubble-outline"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/main/profile" color="primary">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-fab
    vertical="bottom"
    horizontal="center"
    slot="fixed"
    class="report-fab"
  >
    <ion-fab-button color="primary" (click)="goToAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-tabs>

