<app-page-header></app-page-header>
<ion-content [fullscreen]="true" class="ion-text-center" #content>
  <h1 class="font-semibold text-3xl text-subtitle mt-3">Sign In</h1>

  <form
    action=""
    [formGroup]="myForm"
    class="mt-10 mb-5 font-inter"
    (ngSubmit)="submitForm()"
  >
    <!-- EMAIL -->
    <div class="mb-4 w-[80%] md:w-[35%] mx-auto">
      <label
        class="block text-neutral-500 text-base font-light mb-2 ml-2 text-start"
      >
        Enter Email
      </label>
      <input
        id="email"
        (focus)="scrollToField('email')"
        formControlName="email"
        type="text"
        placeholder="School Email"
        class="placeholder-neutral-300 dark:placeholder-neutral-500 text-black w-full px-4 py-3 bg-white border border-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 lowercase placeholder:normal-case"
      />
      <div
        *ngIf="myForm.controls['email']  && (myForm.controls['email'].dirty || myForm.controls['email'].touched)"
        class="text-xs text-red-600 dark:text-red-400 text-start"
      >
        <div *ngIf="myForm.controls['email'].hasError('required')">
          Email is required.
        </div>

        <div *ngIf="myForm.controls['email'].hasError('invalidSchoolEmail')">
          Please enter a valid student email (e.g.
          ce-domends6421&#64;st.umat.edu.gh).
        </div>
      </div>
    </div>
    <!-- PASSWORD -->
    <div class="mb-4 w-[80%] md:w-[35%] mx-auto">
      <label
        class="block text-neutral-500 text-base font-light mb-2 ml-2 text-start"
      >
        Enter Password
      </label>
      <div class="relative">
        <input
          id="password"
          (focus)="scrollToField('password')"
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="**************"
          class="w-full px-4 py-3 bg-white border border-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder-neutral-300 dark:placeholder-neutral-500"
        />
        <button
          (click)="togglePasswordVisibility()"
          class="absolute inset-y-0 right-0 flex items-center px-4 text-gray-500"
          type="button"
        >
          <ion-icon
            slot="icon-only"
            [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
          ></ion-icon>
        </button>
      </div>
      <div
        *ngIf="myForm.controls['password'].invalid && (myForm.controls['password'].dirty || myForm.controls['password'].touched)"
        class="text-xs text-red-600 dark:text-red-400 text-start mt-1"
      >
        <div *ngIf="myForm.controls['password'].hasError('required')">
          Password is required.
        </div>
        <div *ngIf="myForm.controls['password'].hasError('minLength')">
          Password must be at least 8 characters long.
        </div>
        <div *ngIf="myForm.controls['password'].hasError('requireDigit')">
          Password must contain at least one number.
        </div>
        <!-- Add other strength errors as needed -->
        <div *ngIf="myForm.controls['password'].hasError('requireUppercase')">
          Password must contain an uppercase letter.
        </div>
        <div *ngIf="myForm.controls['password'].hasError('requireSpecialChar')">
          Password must contain an special character letter.
        </div>
      </div>
      <div class="text-end text-sm font-roboto mt-2">
        <a
          (click)="navigateToConfirmEmail()"
          class="text-neutral-500 underline hover:text-primary cursor-pointer"
          >Forgot Password?</a
        >
      </div>
    </div>

    <ion-button
      expand="block"
      fill="clear"
      shape="round"
      class="started-btn"
      type="submit"
    >
      Login
    </ion-button>
  </form>
  <p class="text-black font-semibold mb-5 dark:text-[#3C3744]">or</p>
  <p class="dark:text-[#3C3744]">Don't have an account?</p>
  <div
    class="flex items-center justify-center w-full md:w-[40%] mx-auto gap-2 text-black"
  >
    <ion-button
      expand="block"
      fill="clear"
      shape="round"
      class="rounded-btn"
      (click)="navigateToSignUp()"
    >
      SIGN UP
    </ion-button>
    <ion-button expand="block" fill="clear" shape="round" class="rounded-btn">
      <img
        src="assets/icon/googleicon.svg"
        alt="Google logo"
        width="25"
        height="25"
      />
    </ion-button>
  </div>
</ion-content>
