<app-page-header></app-page-header>

<ion-content [fullscreen]="true" class="flex flex-col">
  <div
    class="flex-1 flex flex-col items-center justify-start px-4"
  >
    <div class="w-full max-w-md mx-auto space-y-6">
      <div class="relative flex items-center mt-2 text-neutral-500">
        <ion-buttons slot="start" class="z-10">
          <ion-back-button
            icon="chevron-back-sharp"
            defaultHref="/auth/login"
          />
        </ion-buttons>

        <h1
          class="absolute left-1/2 -translate-x-1/2 font-semibold text-2xl text-center w-[60%]"
        >
          Reset Password
        </h1>
      </div>

      <form [formGroup]="myForm" class="w-full">
        <div class="mb-4">
          <label
            class="block text-neutral-500 text-base font-light mb-2 ml-2 text-start"
          >
            Enter your registered email
          </label>
          <input
            formControlName="email"
            type="text"
            placeholder="School Email"
            class="placeholder-neutral-300 dark:placeholder-neutral-500 text-black w-full px-4 py-3 bg-white border border-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 lowercase placeholder:normal-case"
          />
          <div
            *ngIf="myForm.controls['email'] && (myForm.controls['email'].dirty || myForm.controls['email'].touched)"
            class="text-sm text-red-600 dark:text-red-400 text-start mt-1"
          >
            <div *ngIf="myForm.controls['email'].hasError('required')">
              Email is required.
            </div>

            <div
              *ngIf="myForm.controls['email'].hasError('invalidSchoolEmail')"
            >
              Please enter a valid student email (e.g.
              ce-domends6421&#64;st.umat.edu.gh).
            </div>
          </div>
        </div>
        <ion-button
          id="verify"
          expand="block"
          fill="clear"
          shape="round"
          class="started-btn started-btn-2"
          (click)="requestReset()"
        >
          Send Email
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
