<div class="item-card">
  <div>
    <div class="card-header">
      <ion-img
        [src]="item.image_urls[currentImageIndex]"
        class="item-image"
      ></ion-img>
      <div class="item-details">
        <h3 class="item-title">{{ item.title }}</h3>
        <div class="flex justify-between items-center">
          <span class="status-tag">{{ item.status }}</span>
          <div class="text-black flex items-center gap-2 font-bold  bg-green-300 px-2 py-0.5 rounded-md">
            <ion-icon name="pricetags-outline"> </ion-icon>
            {{ item.bounty }}
          </div>
        </div>
      </div>
    </div>
    <div class="info-line">
      <div class="info-item">
        <ion-icon name="location-outline" class="info-icon"></ion-icon>
        <span>{{ item.found_at }}</span>
      </div>
      <span class="dot">•</span>
      <div class="info-item">
        <ion-icon name="calendar-outline" class="info-icon"></ion-icon>
        <span>{{ item.created_at | date : "EEE, dd MMM yyyy" }}</span>
      </div>
    </div>
  </div>
  <ion-button expand="block" class="claim-button" (click)="handleClaim($event)"
    >Claim</ion-button
  >
  <p class="notification-text">
    You'll be notified within 24hours once your claim is reviewed
  </p>
</div>
